include certificates-data

.certificates
  .certificates__container
    h1 Мои сертификаты
    ul
      each image in images
        li
          h2= image.title
          +picture(`${image.src}`, 'jpg', '300', '500', `${image.title}`, `${image.alternative}`)
          time(datetime=image.datetime)
            .
              Дата прохождения курса - #[span #{image.date}]
          .certificates__additional
            h3 На данном курсе я научился:
            ol
              if image.technologies
                each technology in image.technologies
                  li= technology

              
